node_modules
node_modules

# Ignore personal directories
.Trash/
.bash_history
.cargo/
.conda/
.condarc
.config/
.continuum/
.cups/
.foundry/
.gitconfig
.github/
.keras/
.lesshst
.local/
.node_repl_history
.npm-global/
.npm/
.npmrc
.profile
.python_history
.rustup/
.ssh/
.swiftpm/
.tcshrc
.vim/
.viminfo
.vscode/
.xonshrc
.yarnrc
.zksync/
.zprofile
.zsh_history
.zsh_sessions/
.zshenv
.zshrc
.zshrc.save
Applications/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
 
# Ignore files and directories
/README.md
/c++/
hello
html.html
main
main.dSYM/
newC++/
/project1/
/script/
/src/
/style.css
/test/

# Ignore other common files
package-lock.json
package.json
install.sh
workspace.code-workspace
